Node-Red_flow.json
[{"id":"cd262eb.eb84bd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"507c7949.ec3e48","type":"function","z":"cd262eb.eb84bd","name":"","func":"var names = msg.payload;\nvar nameArr = names.split(',');\nif(isNaN(parseInt(nameArr[0]))==true){\n   out={\"city\":nameArr[0],\"country\":nameArr[1]}\n}else{\n   out={\"lat\":parseFloat(nameArr[0]),\"lon\":parseFloat(nameArr[1])}\n}\nreturn{\n    out\n   }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["716e0787.ebbdb8"]]},{"id":"716e0787.ebbdb8","type":"switch","z":"cd262eb.eb84bd","name":"","property":"$boolean(out.hasOwnProperty(\"city\"))\t","propertyType":"jsonata","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":60,"wires":[["575530ed.37683"],["c38b91cb.9ddfc"]]},{"id":"575530ed.37683","type":"change","z":"cd262eb.eb84bd","name":"change","rules":[{"t":"set","p":"location","pt":"msg","to":"out","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":40,"wires":[["6af7be3b.99f88"]]},{"id":"c38b91cb.9ddfc","type":"change","z":"cd262eb.eb84bd","name":"change","rules":[{"t":"set","p":"location","pt":"msg","to":"out","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":120,"wires":[["b4fe6c40.8c1"]]},{"id":"b4fe6c40.8c1","type":"openweathermap","z":"cd262eb.eb84bd","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":730,"y":140,"wires":[["e95333c.b0ab5d","5778c5f1.d42c5c","12af3c09.91f594","a8d539da.5cf058","6d76c2b7.cd0f0c","10e8dfdf.282a7","104c4ce1.e922b3","b26ff329.f948d","b18b58b6.e4cbb8","db3ebc80.1198c","fde48128.5a121","ce657fa6.1f673","246e8a30.ba6c16","e80a0f09.deed9","62c59af8.da8dc4","ac487c0b.2b255"]]},{"id":"6af7be3b.99f88","type":"openweathermap","z":"cd262eb.eb84bd","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":730,"y":40,"wires":[["e95333c.b0ab5d","5778c5f1.d42c5c","6d76c2b7.cd0f0c","12af3c09.91f594","a8d539da.5cf058","10e8dfdf.282a7","104c4ce1.e922b3","b26ff329.f948d","b18b58b6.e4cbb8","db3ebc80.1198c","fde48128.5a121","ce657fa6.1f673","246e8a30.ba6c16","e80a0f09.deed9","ac487c0b.2b255","62c59af8.da8dc4"]]},{"id":"da751e86.3eb4","type":"join","z":"cd262eb.eb84bd","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":220,"wires":[["404a49d6.de6a58"]]},{"id":"404a49d6.de6a58","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"input","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["ae9e2e27.493e5"]]},{"id":"a160f366.1a42f","type":"ui_numeric","z":"cd262eb.eb84bd","name":"","label":"Update Interval(sec)","tooltip":"","group":"c2d61963.5e6978","order":3,"width":4,"height":2,"wrap":false,"passthru":false,"topic":"aaa","format":"{{payload}}","min":0,"max":"100","step":"10","x":240,"y":460,"wires":[["1c856df1.960f02"]]},{"id":"1c856df1.960f02","type":"function","z":"cd262eb.eb84bd","name":"","func":"return {\n    delay:msg.payload*1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["ae9e2e27.493e5"]]},{"id":"ae9e2e27.493e5","type":"trigger","z":"cd262eb.eb84bd","name":"","op1":"input","op2":"0","op1type":"flow","op2type":"str","duration":"-30000","extend":false,"overrideDelay":true,"units":"ms","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":300,"wires":[["507c7949.ec3e48"]]},{"id":"e95333c.b0ab5d","type":"debug","z":"cd262eb.eb84bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"2feaf647.79b08a","type":"ui_button","z":"cd262eb.eb84bd","name":"","group":"4f271a00.762388","order":4,"width":2,"height":1,"passthru":false,"label":"Stop","tooltip":"Stop the updating weather","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":390,"y":240,"wires":[["ae9e2e27.493e5"]]},{"id":"5778c5f1.d42c5c","type":"ui_gauge","z":"cd262eb.eb84bd","name":"","group":"8af1d77e.555008","order":1,"width":4,"height":3,"gtype":"donut","title":"Temp","label":"°C","format":"{{msg.payload.tempc}}","min":"-20","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":40,"wires":[]},{"id":"12af3c09.91f594","type":"ui_gauge","z":"cd262eb.eb84bd","name":"","group":"a86a14d4.df89d8","order":2,"width":4,"height":3,"gtype":"wave","title":"Pressure(hpa)","label":"hpa","format":"{{msg.payload.pressure}}","min":"850","max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":140,"wires":[]},{"id":"a8d539da.5cf058","type":"ui_gauge","z":"cd262eb.eb84bd","name":"","group":"8da50f69.44fe38","order":3,"width":4,"height":3,"gtype":"compass","title":"Wind Direction","label":"degree from N","format":"{{msg.payload.winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":200,"wires":[]},{"id":"6d76c2b7.cd0f0c","type":"ui_gauge","z":"cd262eb.eb84bd","name":"","group":"466b3393.d45f2c","order":0,"width":"4","height":"4","gtype":"gage","title":"humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":280,"wires":[]},{"id":"10e8dfdf.282a7","type":"ui_gauge","z":"cd262eb.eb84bd","name":"","group":"8da50f69.44fe38","order":0,"width":0,"height":0,"gtype":"gage","title":"wind speed","label":"units","format":"{{msg.payload.windspeed}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":240,"wires":[]},{"id":"b263323c.4fe5b","type":"ui_text","z":"cd262eb.eb84bd","group":"e06ac563.562a98","order":5,"width":0,"height":0,"name":"","label":"Sunrise Time:","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":340,"wires":[]},{"id":"ef3ed64d.313308","type":"moment","z":"cd262eb.eb84bd","name":"","topic":"","input":"st","inputType":"msg","inTz":"Asia/Colombo","adjAmount":0,"adjType":"hours","adjDir":"add","format":"h:mm:ss a","locale":"en-GB","output":"","outputType":"msg","outTz":"Asia/Colombo","x":820,"y":300,"wires":[["b263323c.4fe5b"]]},{"id":"893375a9.544b18","type":"moment","z":"cd262eb.eb84bd","name":"","topic":"","input":"st","inputType":"msg","inTz":"Asia/Colombo","adjAmount":0,"adjType":"hours","adjDir":"add","format":"h:mm:ss a","locale":"en-GB","output":"","outputType":"msg","outTz":"Asia/Colombo","x":800,"y":400,"wires":[["af894993.5a2958"]]},{"id":"af894993.5a2958","type":"ui_text","z":"cd262eb.eb84bd","group":"e06ac563.562a98","order":6,"width":0,"height":0,"name":"","label":"Sunset Time:","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":380,"wires":[]},{"id":"b26ff329.f948d","type":"function","z":"cd262eb.eb84bd","name":"","func":"var inp=msg.payload.sunset;\nvar st=inp.toString();\nreturn{\n    st\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":340,"wires":[["893375a9.544b18"]]},{"id":"104c4ce1.e922b3","type":"function","z":"cd262eb.eb84bd","name":"","func":"var inp=msg.payload.sunrise;\nvar st=inp.toString();\nreturn{\n    st\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":240,"wires":[["ef3ed64d.313308"]]},{"id":"b18b58b6.e4cbb8","type":"ui_text","z":"cd262eb.eb84bd","group":"e06ac563.562a98","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.description}}","layout":"row-center","x":890,"y":240,"wires":[]},{"id":"73b0faa8.cc4f84","type":"ui_audio","z":"cd262eb.eb84bd","name":"","group":"e06ac563.562a98","voice":"Microsoft Zira Desktop - English (United States)","always":"","x":980,"y":460,"wires":[]},{"id":"e59c7ca9.b54ed","type":"ui_button","z":"cd262eb.eb84bd","name":"","group":"e06ac563.562a98","order":8,"width":2,"height":1,"passthru":false,"label":"AUDIO","tooltip":"Voice description","color":"","bgcolor":"","icon":"volume_up","payload":"des","payloadType":"flow","topic":"","x":800,"y":460,"wires":[["73b0faa8.cc4f84"]]},{"id":"db3ebc80.1198c","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"des","pt":"flow","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":60,"wires":[[]]},{"id":"813588fd.975ef8","type":"ui_dropdown","z":"cd262eb.eb84bd","name":"","label":"Choose:","tooltip":"","place":"Select option","group":"43ad6df7.491904","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Temperature(°C)","value":"1","type":"str"},{"label":"Pressure(hPa)","value":"2","type":"str"},{"label":"Wind speed(km/h)","value":"3","type":"str"}],"payload":"","topic":"","x":380,"y":580,"wires":[["3c33bd60.cc1722","8ad81a44.52a5e8","80cc386c.cebbf8"]]},{"id":"5535c567.0b951c","type":"ui_slider","z":"cd262eb.eb84bd","name":"temp","label":"20-45 °C","tooltip":"","group":"43ad6df7.491904","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"temp","min":"20","max":"45","step":"5","x":670,"y":600,"wires":[["64c349a6.6a1e08","a0143460.5e5c78","d28e6b03.926a68"]]},{"id":"1b32939f.4a358c","type":"ui_slider","z":"cd262eb.eb84bd","name":"","label":"1000-1050","tooltip":"","group":"43ad6df7.491904","order":5,"width":"0","height":"0","passthru":false,"outs":"end","topic":"pre","min":"1000","max":"1050","step":"10","x":690,"y":660,"wires":[["5a84ea12.051c94","a0143460.5e5c78","d28e6b03.926a68"]]},{"id":"97054db2.6d734","type":"ui_slider","z":"cd262eb.eb84bd","name":"","label":"5-45kmh","tooltip":"","group":"43ad6df7.491904","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"wind","min":"5","max":"45","step":"5","x":680,"y":720,"wires":[["d56fa1d6.7acb","a0143460.5e5c78","d28e6b03.926a68"]]},{"id":"3c33bd60.cc1722","type":"function","z":"cd262eb.eb84bd","name":"","func":"if(msg.payload==\"1\"){\n    msg={\"enabled\":true};\n}else{\n    msg={\"enabled\":false};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":600,"wires":[["5535c567.0b951c"]]},{"id":"8ad81a44.52a5e8","type":"function","z":"cd262eb.eb84bd","name":"","func":"if(msg.payload==\"2\"){\n    msg={\"enabled\":true};\n}else{\n    msg={\"enabled\":false};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":660,"wires":[["1b32939f.4a358c"]]},{"id":"80cc386c.cebbf8","type":"function","z":"cd262eb.eb84bd","name":"","func":"if(msg.payload==\"3\"){\n    msg={\"enabled\":true};\n}else{\n    msg={\"enabled\":false};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":720,"wires":[["97054db2.6d734"]]},{"id":"36e85a7a.c21296","type":"ui_text","z":"cd262eb.eb84bd","group":"43ad6df7.491904","order":2,"width":0,"height":0,"name":"","label":"Limit value:","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":740,"wires":[]},{"id":"64c349a6.6a1e08","type":"function","z":"cd262eb.eb84bd","name":"","func":"msg.payload=msg.payload+\"°C\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":620,"wires":[["36e85a7a.c21296"]]},{"id":"5a84ea12.051c94","type":"function","z":"cd262eb.eb84bd","name":"","func":"msg.payload=msg.payload+\"hPa\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":660,"wires":[["36e85a7a.c21296"]]},{"id":"d56fa1d6.7acb","type":"function","z":"cd262eb.eb84bd","name":"","func":"msg.payload=msg.payload+\"kmh\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":720,"wires":[["36e85a7a.c21296"]]},{"id":"a0143460.5e5c78","type":"function","z":"cd262eb.eb84bd","name":"","func":"const t = flow.get(\"valtemp\");\nconst p = flow.get(\"valpre\");\nconst w = flow.get(\"valwind\");\nvar a;\nvar b;\nvar c;\nif(msg.topic==\"temp\" && msg.payload<t){\n    a=t-msg.payload;\n    out=\"Temperature is \"+t+\"°C exceeds the limit by \"+a+\"°C\";\n    return {out}\n}else if(msg.topic==\"pre\" && msg.payload<p){\n    b=p-msg.payload;\n    out=\"Pressure is \"+p+\"hPa exceeds the limit by \"+b+\"hPa\";\n    return {out}\n}else if(msg.topic==\"wind\" && msg.payload<w){\n    c=w-msg.payload;\n    out=\"Windspeed is \"+w+\"kmh exceeds the limit by \"+c+\"kmh\";\n    return {out}    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":680,"wires":[["c5b4cba6.d04988"]]},{"id":"b6ea0b87.6c5f28","type":"ui_toast","z":"cd262eb.eb84bd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Warning!!!","name":"","x":1270,"y":740,"wires":[[]]},{"id":"c5b4cba6.d04988","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"out","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":680,"wires":[["b6ea0b87.6c5f28"]]},{"id":"fde48128.5a121","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"valtemp","pt":"flow","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":120,"wires":[[]]},{"id":"ce657fa6.1f673","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"valpre","pt":"flow","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":160,"wires":[[]]},{"id":"246e8a30.ba6c16","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"valwind","pt":"flow","to":"payload.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":200,"wires":[[]]},{"id":"e80a0f09.deed9","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":340,"wires":[["f6d13315.41fd3"]]},{"id":"f6d13315.41fd3","type":"ui_chart","z":"cd262eb.eb84bd","name":"","group":"c2b76fea.3795c","order":1,"width":"14","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2277b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":480,"wires":[[]]},{"id":"62c59af8.da8dc4","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":380,"wires":[["7e09a1d4.bc7ab"]]},{"id":"7e09a1d4.bc7ab","type":"ui_chart","z":"cd262eb.eb84bd","name":"","group":"c2b76fea.3795c","order":2,"width":"14","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"100","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":560,"wires":[[]]},{"id":"d72a3f97.f4eb4","type":"ui_chart","z":"cd262eb.eb84bd","name":"","group":"c2b76fea.3795c","order":3,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":600,"wires":[[]]},{"id":"ac487c0b.2b255","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":420,"wires":[["d72a3f97.f4eb4"]]},{"id":"5b5cee7c.6765e","type":"ui_switch","z":"cd262eb.eb84bd","name":"","label":"Switch","tooltip":"click here","group":"b6a3d21d.8b4c1","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"red","x":50,"y":700,"wires":[["42ef0107.0a21a"]]},{"id":"9a9507e8.d42658","type":"ui_ui_control","z":"cd262eb.eb84bd","name":"","events":"all","x":360,"y":700,"wires":[[]]},{"id":"42ef0107.0a21a","type":"function","z":"cd262eb.eb84bd","name":"","func":"if(msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"Charts_Charts\"]}}\n    }\n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"Charts_Charts\"]}}\n    }\n}\n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":700,"wires":[["9a9507e8.d42658"]]},{"id":"1b0d81e6.63011e","type":"ui_text","z":"cd262eb.eb84bd","group":"c2d61963.5e6978","order":1,"width":0,"height":0,"name":"","label":"Select whether you enter coordinates as city/country or coordinates","format":"{{msg.payload}}","layout":"row-left","x":280,"y":520,"wires":[]},{"id":"2f24d4ec.4b57ac","type":"ui_dropdown","z":"cd262eb.eb84bd","name":"","label":"","tooltip":"","place":"Select option","group":"c2d61963.5e6978","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City","value":"Input City/Country","type":"str"},{"label":"Coordinates","value":"Input Coordinates(Lan,Lon)","type":"str"}],"payload":"","topic":"","x":80,"y":560,"wires":[["c7c56d47.e349b"]]},{"id":"c7c56d47.e349b","type":"ui_text","z":"cd262eb.eb84bd","group":"4f271a00.762388","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":250,"y":560,"wires":[]},{"id":"c80249d7.3ed2d8","type":"ui_text_input","z":"cd262eb.eb84bd","name":"Input1","label":"","tooltip":"Press Enter","group":"4f271a00.762388","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"200","topic":"","x":70,"y":220,"wires":[["e9f96333.9b27a","669de48f.671f6c"]]},{"id":"e9f96333.9b27a","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"a1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":70,"y":40,"wires":[[]]},{"id":"669de48f.671f6c","type":"function","z":"cd262eb.eb84bd","name":"","func":"flow.set(\"val1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":60,"y":80,"wires":[[]]},{"id":"853770f.671ab9","type":"ui_text_input","z":"cd262eb.eb84bd","name":"Input2","label":"","tooltip":"Press Enter","group":"4f271a00.762388","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"200","topic":"","x":50,"y":280,"wires":[["af31ac9.708935","ed04a3df.5c99f"]]},{"id":"af31ac9.708935","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"a2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":70,"y":120,"wires":[[]]},{"id":"ed04a3df.5c99f","type":"function","z":"cd262eb.eb84bd","name":"","func":"flow.set(\"val2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":60,"y":180,"wires":[[]]},{"id":"ebae1ed2.539c2","type":"ui_button","z":"cd262eb.eb84bd","name":"","group":"4f271a00.762388","order":9,"width":"3","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"a","payloadType":"str","topic":"","x":60,"y":320,"wires":[["f280164c.8535d8","36a4345f.ddbc9c"]]},{"id":"f280164c.8535d8","type":"function","z":"cd262eb.eb84bd","name":"","func":"var v1=flow.get(\"val1\");\nif(v1){\n    return{\n        payload:v1\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":300,"wires":[["da751e86.3eb4"]]},{"id":"36a4345f.ddbc9c","type":"function","z":"cd262eb.eb84bd","name":"","func":"var v2=flow.get(\"val2\");\nif(v2){\n    return{\n        payload:v2\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":380,"wires":[["da751e86.3eb4"]]},{"id":"749fce8c.6e7af","type":"ui_text","z":"cd262eb.eb84bd","group":"cdc927de.69c7e8","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":780,"wires":[]},{"id":"d862ef47.955d3","type":"ui_text","z":"cd262eb.eb84bd","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":820,"wires":[]},{"id":"d28e6b03.926a68","type":"function","z":"cd262eb.eb84bd","name":"","func":"const t = flow.get(\"valtemp\");\nconst p = flow.get(\"valpre\");\nconst w = flow.get(\"valwind\");\nvar a;\nvar b;\nvar c;\nif(msg.topic==\"temp\" && msg.payload<t){\n    a=msg.payload;\n    out=t+\",\"+a+\",\"+\"45\";\n    return {out}\n}else if(msg.topic==\"pre\" && msg.payload<p){\n    b=msg.payload;\n    out=p+\",\"+b+\",\"+\"1050\";\n    return {out}\n}else if(msg.topic==\"wind\" && msg.payload<w){\n    c=w-msg.payload;\n    out=w+\",\"+c+\",\"+\"45\";;\n    return {out}    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":800,"wires":[["c375b221.437a5"]]},{"id":"d139a3d0.e2816","type":"debug","z":"cd262eb.eb84bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":920,"wires":[]},{"id":"c36d5176.2e7a4","type":"mqtt out","z":"cd262eb.eb84bd","name":"","topic":"grp8","qos":"","retain":"","broker":"59d9802f.b9fc1","x":1290,"y":820,"wires":[]},{"id":"c375b221.437a5","type":"change","z":"cd262eb.eb84bd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"out","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":860,"wires":[["c36d5176.2e7a4"]]},{"id":"c2d61963.5e6978","type":"ui_group","name":"Input Method","tab":"2bc868fd.745aa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f271a00.762388","type":"ui_group","name":"Input Data:","tab":"3d529496.78003c","order":1,"disp":false,"width":"5","collapse":false},{"id":"8af1d77e.555008","type":"ui_group","name":"Temperature","tab":"3d529496.78003c","order":9,"disp":true,"width":"5","collapse":false},{"id":"a86a14d4.df89d8","type":"ui_group","name":"Pressure","tab":"3d529496.78003c","order":8,"disp":true,"width":"5","collapse":false},{"id":"8da50f69.44fe38","type":"ui_group","name":"Wind","tab":"3d529496.78003c","order":4,"disp":true,"width":"4","collapse":false},{"id":"466b3393.d45f2c","type":"ui_group","name":"Humidity","tab":"3d529496.78003c","order":6,"disp":true,"width":"5","collapse":false},{"id":"e06ac563.562a98","type":"ui_group","name":"Description","tab":"3d529496.78003c","order":9,"disp":true,"width":"5","collapse":false},{"id":"43ad6df7.491904","type":"ui_group","name":"Warning Limits","tab":"3d529496.78003c","order":5,"disp":true,"width":"5","collapse":false},{"id":"c2b76fea.3795c","type":"ui_group","name":"Charts","tab":"b39f3cd7.673bc","order":4,"disp":true,"width":"14","collapse":false},{"id":"b6a3d21d.8b4c1","type":"ui_group","name":"Charts","tab":"2bc868fd.745aa8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cdc927de.69c7e8","type":"ui_group","name":"Slider","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"59d9802f.b9fc1","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2bc868fd.745aa8","type":"ui_tab","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3d529496.78003c","type":"ui_tab","name":"Weather","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b39f3cd7.673bc","type":"ui_tab","name":"Charts","icon":"dashboard","order":2,"disabled":false,"hidden":false}]